@font-face {
    font-family: myFont;
    src: url(OpenSans-Regular.ttf);
}

body {
    width: 90%;
    background: #567;
    font-family: myFont;
    display: inline-block;
}


/*************CURRENT CONFIG BLOCK***************/

#current_config {
    float: left;
    width: 35%;
    margin-left: 10px;
    text-align: center;
}

#current_config h1 {
    color: white;
}

#config_textarea {
    border: 0;
    resize: none;
    width: 90%;
    background-color: #f2f2f2;
    color: #567;
}

#config_update_button {
    font-family: myFont;
    background: #3399cc;
    border: 0;
    padding: 4%;
    margin-top: 10px;
    width: 90%;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#config_update_button:hover {
    background: #2288bb;
}


/*************CURRENT STATUS BLOCK***************/

#current_status {
    width: 55%;
    float: right;
}

#status_prefix {
    width: 60%;
    float: left;
    color: white;
}

#status_tag {
    width: 40%;
    float: right;
}


/*************SWICHERS BLOCK***************/

#swichers {
    width: 55%;
    float: right;
}

#start_button, #stop_button {
    font-family: myFont;
    background: #3399cc;
    border: 0;
    padding: 4%;
    margin-left: 10%;
    width: 30%;
    font-size: 120%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#start_button:hover, #stop_button:hover {
    background: #2288bb;
}


/*************LOG BLOCK***************/

#log_block {
    width: 60%;
    float: right;
    margin-top: 20px;
}

#log_prefix {
    float: left;
    color: white;
}

#log_buttons {
    float: right;
    width: 85%;
}

#all_log_button, #log_refresh_button, #sign_out_button {
    font-family: myFont;
    background: #3399cc;
    border: 0;
    padding: 2%;
    width: 30%;
    margin-top: 28px;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#all_log_button:hover, #log_refresh_button:hover {
    background: #2288bb;
}

#log_textarea {
    border: 0;
    resize: none;
    width: 100%;
    background-color: #3399cc;
    color: white;
}